.userPostBox {
    background-color: white;
    border-radius: 15px;
    border: 2px solid black !important;
}

.card {
    display: flex;

    /* padding: 0% 10px; */
    border-radius: 15px !important;
    margin-bottom: 10px;
}

.card-header:first-child {
    border-radius: 15px 15px 0 0 !important;
}

.label-text {
    font-size: 0.75rem;
    /* This font size will be applied if the element becomes visible, effectively on desktop */
}

/* Media query for medium and larger screens (desktop) */
@media (min-width: 768px) {

    /* Corresponds to Bootstrap's md breakpoint */
    .label-text {
        font-size: 1rem;
        /* Larger font size for desktop */
    }
}